@import 'variables.scss';

#app {
  font-weight: normal;
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .view {
    margin-top: $height-big;
    margin-left: 20%;
    margin-right: 20%;
    @media(max-width: $medium-screen-up) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

html {
  font-family: sans-serif;
  body {
    color: $color_text;
    background-color: $color_background;
    a {
      color: white;
      text-decoration: none;
      font-weight: normal;
      font-size: $size_small * 2;
      padding: $shift;
    }

    h1 {
      color: $color_orange_main;
      font-weight: $font_w_medium;
    }
  }
}


