@use 'config' as *;
@use 'variables' as *;
@use 'sass:map';
@use 'sass:math';
@use 'sass:color';

$font-size-extra-large: map.get($font-size,'extra-large');
$font-size-large: map.get($font-size,'large');
$font-size-medium: map.get($font-size,'medium');
$font-size-base: map.get($font-size,'base');
$font-size-small: map.get($font-size,'small');
$font-size-extra-small: map.get($font-size,'extra-small');

$lg-padding:20px;
$md-padding:16px;
$sm-padding:8px;
$main-padding:map.get($main,'padding');
$main-padding-half:math.div($main-padding,2);
$small-padding:map.get($button-padding-vertical,'small');
$medium-padding:map.get($button-padding-vertical,'medium');
$large-padding:map.get($button-padding-vertical,'large');
$aside-item-border-color: #303133;
$main-padding:map.get($main,'padding');
$card-padding:map.get($card,'padding');
$card-border-radius:map.get($card,'border-radius');

$color-white: map.get($colors, 'white');
$color-black: map.get($colors, 'black');
$color-primary: map.get($colors, 'primary', 'base');
$color-success: map.get($colors, 'success', 'base');
$color-warning: map.get($colors, 'warning', 'base');
$color-danger: map.get($colors, 'danger', 'base');
$color-error: map.get($colors, 'error', 'base');
$color-info: map.get($colors, 'info', 'base');

$color-primary-light-1:map.get($colors,'primary','light-1');
$color-primary-light-2:map.get($colors,'primary','light-2');
$color-primary-light-3:map.get($colors,'primary','light-3');
$color-primary-light-4:map.get($colors,'primary','light-4');
$color-primary-light-5:map.get($colors,'primary','light-5');
$color-primary-light-6:map.get($colors,'primary','light-6');
$color-primary-light-7:map.get($colors,'primary','light-7');
$color-primary-light-8:map.get($colors,'primary','light-8');
$color-primary-light-9:map.get($colors,'primary','light-9');

$color-danger-light-2:var(--el-color-danger-light-2);
$color-danger-light-3:var(--el-color-danger-light-3);
$color-danger-light-4:var(--el-color-danger-light-4);
$color-danger-light-5:var(--el-color-danger-light-5);
$color-danger-light-6:var(--el-color-danger-light-6);
$color-danger-light-7:var(--el-color-danger-light-7);
$color-danger-light-8:var(--el-color-danger-light-8);
$color-danger-light-9:var(--el-color-danger-light-9);

$color-warning-light-2:var(--el-color-warning-light-2);
$color-warning-light-3:var(--el-color-warning-light-3);
$color-warning-light-4:var(--el-color-warning-light-4);
$color-warning-light-5:var(--el-color-warning-light-5);
$color-warning-light-6:var(--el-color-warning-light-6);
$color-warning-light-7:var(--el-color-warning-light-7);
$color-warning-light-8:var(--el-color-warning-light-8);
$color-warning-light-9:var(--el-color-warning-light-9);

$color-info-light-2:var(--el-color-info-light-2);
$color-info-light-3:var(--el-color-info-light-3);
$color-info-light-4:var(--el-color-info-light-4);
$color-info-light-5:var(--el-color-info-light-5);
$color-info-light-6:var(--el-color-info-light-6);
$color-info-light-7:var(--el-color-info-light-7);
$color-info-light-8:var(--el-color-info-light-8);
$color-info-light-9:var(--el-color-info-light-9);

$layout-side-background-color:color.adjust($color-primary,$lightness:-50%,$saturation:-20%);
$layout-side-title-color:color.adjust($color-primary,$lightness:-35%,$saturation:-20%);
$layout-side-sections-color:black;
